.cadquery-align-left {
    float: left;
}

.cadquery-align-right {
    float: right;
}

.cadquery-align-none {
    float: none;
}

.cadquery-align-center {
    margin: 0px auto;
}

.cadquery-container-model {
    color: white;
    position: relative;
}

button.cadquery-credit {
    border: 1px;
    color: white;
    cursor: pointer;
    font-size: 75%;
}

div.cadquery-help-dropdown {
    color: black;
    float: right;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 8px;
    z-index: 100;
}

.cadquery-help-dropdown-content {
    background-color: #f9f9f9;
    display: none;
    min-width: 100%;
    position: absolute;
    right: 0;
    z-index: 1;
}

.cadquery-help-dropdown-content dl,
.cadquery-help-dropdown-content dl dd,
.cadquery-help-dropdown-content p {
    margin: 1px;
}
.cadquery-help-dropdown-content p.footer {
        font-size: 75%;
}

.cadquery-help-dropdown:hover
.cadquery-help-dropdown-content {
    display: block;
}

.cadquery-help-dropdown:hover button.cadquery-credit {
    background-color: #2980b9;
}

.cadquery-help-dropdown-content dl {
    display: grid;
    grid-template-columns: 40% auto;
}

.cadquery-help-dropdown-content dl dt {
    grid-column: 1;
}

.cadquery-help-dropdown-content dl dd {
    grid-column: 2;
}
