<div class="cadquery-help-dropdown">
    <button class="cadquery-credit">Modeled with CadQuery</button>
    <div class="cadquery-help-dropdown-content">
        <p class="footer">Exported as SVG.</p>
    </div>
</div>
