.. raw:: html

    <div class="cadquery-container" style="margin-bottom: 24px">
        <div class="cadquery-svg">
            {{svg_document|indent(8)}}
        </div>

{% if include_source %}
.. code-block:: python

    {{script_source|indent(4)}}
{% endif %}

.. raw:: html

    </div>
