.. raw:: html

    <div class="sphinxcontrib-cadquery-svg" style="text-align:{{align}};float:left;">
        {{svg_document|indent(8)}}
    </div>
    <div style="clear:both;">
    </div>

{% if include_source %}
.. code-block:: python

    {{source|indent(4)}}
{% endif %}
