.. raw:: html

    <div style="margin-bottom: 24px">
        <div class="cadquery-vtk" style="text-align:{{align}};float:left;border: 1px solid #ddd; width:{{width}}; height:{{height}}">
            <script>
                var parent_element = {{element}};
                var data = {{vtk_json}};
                render(data, parent_element);
            </script>
        </div>
        <div style="clear:both;">
        </div>

{% if include_source %}
.. code-block:: python

    {{source|indent(4)}}
{% endif %}

.. raw:: html

    </div>
